@use "../../../../../../styles/abstracts/variables" as *;

.zoom-control {
  display: flex;
  align-items: center;
  gap: $space-2; // 8px
  width: 100%;

  @media (min-width: $breakpoint-md) {
    gap: $space-3; // 12px
    width: auto;
  }

  &__label {
    font-size: $font-size-xs;
    font-weight: $font-weight-normal;
    color: $color-text-secondary;
    white-space: nowrap;
    border-radius: 5px 0px 0px 5px;
    background-color: rgba(241, 243, 248, 0.75);
    padding: $space-1 $space-2;

    @media (min-width: $breakpoint-md) {
      font-size: $font-size-sm;
    }
  }

  &__select {
    width: 140px;
    // Override ng-select default styles to match design
    ::ng-deep {
      .ng-select {
        .ng-select-container {
          width: 80px;
          height: 25px;
          border-radius: 0px 5px 5px 0px;
          border: 1px solid $color-border;
          background-color: $color-background;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: $space-2 $space-4;
        }

        &.ng-select-opened {
          .ng-select-container {
            border-color: $color-border-focus;
            box-shadow: 0 0 0 3px rgba(86, 89, 255, 0.1);

            .ng-arrow-wrapper .ng-arrow {
              transform: rotate(180deg);
            }
          }
        }

        &.ng-select-focused:not(.ng-select-opened) {
          .ng-select-container {
            border-color: $color-border-focus;
            box-shadow: 0 0 0 3px rgba(86, 89, 255, 0.1);
          }
        }
      }

      .ng-dropdown-panel {
        background: $color-background;
        border: 1px solid $color-border;
        border-radius: $radius-md;
        box-shadow: $shadow-dropdown;
        margin-top: 4px;
        padding: $space-1;
        z-index: 100;

        .ng-dropdown-panel-items {
          .ng-option {
            padding: $space-2 $space-4;
            font-size: $font-size-sm;
            color: $color-text-primary;
            border-radius: $radius-sm;
            transition: $transition-colors;

            &:hover,
            &.ng-option-marked {
              background: $color-background-hover;
            }

            &.ng-option-selected {
              color: $color-primary;
              font-weight: $font-weight-medium;
            }
          }
        }
      }
    }
  }
}
