@use "../../../../../styles/abstracts/variables" as *;
@use "../../../../../styles/abstracts/mixins" as *;

.navigation {
  padding-left: 101px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 1);

  @media (max-width: $breakpoint-md) {
    padding-left: $space-4;
  }
  &__container {
    max-width: $max-width-container;
    @include flex-between;
  }
  &__logo {
    width: 80px;
    height: 10px;
  }
}
