/**
 * Utility Classes
 * Helper classes for common patterns
 */

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Display utilities
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

// Flex utilities
.flex-center {
  @include flex-center;
}

.flex-between {
  @include flex-between;
}

// Spacing utilities
.mt-sm {
  margin-top: $space-2;
}

.mt-md {
  margin-top: $space-4;
}

.mt-lg {
  margin-top: $space-6;
}

.mb-sm {
  margin-bottom: $space-2;
}

.mb-md {
  margin-bottom: $space-4;
}

.mb-lg {
  margin-bottom: $space-6;
}

// Text utilities
.text-center {
  text-align: center;
}

.text-truncate {
  @include truncate-text;
}
