@use "../styles/abstracts/variables" as *;

.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);

  &__main {
    flex: 1;
    width: 100%;
    overflow-x: auto;
  }
}
