@use "../styles/abstracts/variables" as *;

.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);

  &__main {
    flex: 1;
    width: 100%;
    overflow-x: auto;
    padding: $space-4;

    @media (min-width: $breakpoint-md) {
      padding: $space-6;
    }

    @media (min-width: $breakpoint-xl) {
      padding-left: 101px;
      padding-top: 45px;
      padding-right: $space-6;
      padding-bottom: $space-6;
    }
  }
}
