/* You can add global styles to this file, and also import other style files */

// Abstracts - forward must come first
@forward "./styles/abstracts/variables";
@forward "./styles/abstracts/mixins";
@forward "./styles/abstracts/functions";

// Base
@use "./styles/base/reset";
@use "./styles/base/typography";

// Components
@use "./styles/components/form-field";
@use "./styles/components/datepicker";
@use "./styles/components/dropdown";

// Utilities
@use "./styles/utilities/helpers";

/* Importing Bootstrap SCSS file. */
@use "bootstrap/scss/bootstrap";

// Font import (CSS @import for external URLs - must come after all @use rules)
@import url("https://naologic-com-assets.naologic.com/fonts/circular-std/circular-std.css");
